---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$text-color: black;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
  font-size: 0.8em;
}

h1 {
  font-size: 1.0em;
}

h2, .archive__subtitle {
  font-weight: bold;
}

h2, .archive__item {
  font-size: 0.9em;
  font-weight: normal;
}

a, a:visited {
  text-decoration: none;
}

.page a:not([href*='ralphwillgoss.githun.io']):not([href^='#']):not([href^='/']):after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 0 0 5px;
}

// code formatting
div.highlighter-rouge > pre, div.highlighter-rouge pre.highlight, figure.highlight > pre, figure.highlight pre.highlight {
  line-height: 1.4;
  padding: 0.5em;
}