---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$text-color: black;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
    font-size: 12px;
  
    @include breakpoint($medium) {
      font-size: 16px;
    }
  
    @include breakpoint($large) {
      font-size: 16px;
    }
  
    @include breakpoint($x-large) {
      font-size: 16px;
    }
  }


h1 {
    font-size: 1.2em;
}

h2, .archive__subtitle {
  font-weight: bold;
}

h2, .archive__item {
  font-size: 1.0em;
  font-weight: normal;
}

a, a:visited {
  text-decoration: none;
  color: black
}

// code formatting
div.highlighter-rouge > pre, div.highlighter-rouge pre.highlight, figure.highlight > pre, figure.highlight pre.highlight {
  line-height: 1.4;
  padding: 0.5em;
}